<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Rólunk", about_path %></li>
      <li><%= link_to "Kapcsolat", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Hírek</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Segédanyag</a></li>
    </ul>
  </nav>
</footer>


